:root {
  --font-family: "Athiti", sans-serif;
  --second-family: "Cinzel", sans-serif;
  --main-background-color: #313f38;
  --main-text-color: #fffcf6;
  --accent-text-color: #fcd043;
  --description-text-color: #1b3b36;
  --accent-background-color: #fffcf6;
  --text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
