:root {
    --main-background-color: #313f38;
    --main-text-color: #FFFCF6;
    --accent-text-color: #FCD043;
    --description-text-color: #1B3B36;
    --accent-background-color: #FFFCF6;
    --text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }